body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    flex-wrap: nowrap;
}

h1 {
     text-align: center;
 }

/*Works outside because we are setting the properties first before telling it to read the display none */
.alert-info {
    background-color: #c2fffe;
    border: 2px solid lightgray;
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    width: 100%;
    /*text-align: center;*/
}

.alert-info a {
    text-decoration: none;
    color: black;
}

.nav-links {
    flex-direction: column;
    list-style: none;
    display: flex;
    padding-left: 0;
}

.nav-links li {
    text-align: center;
    margin: .4em 0;
    padding: 1em;
    background-color: lightgray;
}

img {
    width: 100%;
}


/**** I originally centered the text by using the !important property below but decided to move it to the top of the code right after @media without the !important property. It didn't make a difference on the page.*/

/*.nav-links li {*/
/*    text-align: center !important;*/
/*}*/


/*.header-img{*/
/*  */


/*}*/



@media screen and (min-width: 500px) {
    body {
        /* Best to put outside (mobile -> desktop) */
        /*display: flex;*/
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*H1 alignment works only outside of @media */
    /*h1 {*/
    /*    text-align: center;*/
    /*}*/

    /* Must be set to none and inside @media */
    .hidden-on-desktop {
        display: none;
    }
}